*{
    margin:0px;
    padding:0px;
}

.backgroundDiv {
    margin:0px;
    padding:0px;
    background-color:rgb(29,43,86);
    height:100vh;
}



.middleItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.middleItem1 {
    display: flex;
    flex-direction: row;
}



.middleItem11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.jiandanyouxiao {
    margin-top: 10px;
    border: 2px solid #0efcff;
    padding: 4px;
    width: 40px;
    height: 25px;
    font-size: 10px;
    color: #0efcff;
}

#LC01 {
    margin-top: -30px;
    color: #0efcff;
    font-weight:600;
}

.middleItem2 {
    margin-left:-50px;
    margin-top:10px;
    display: flex;
    flex-direction: row;
 
}

.jinrirenwu{
    margin-right:15px;
    font-size:20px;
}



.middleItem2 p {
    margin-top: -50px;
    color: #0efcff;
    font-size: 20px;
    font-weight: 600;
}

.middleItem3 {
   
    margin-top: 60px;
    display: flex;
    flex-direction: row;
}